<h1>Project listing</h1>

<%= render 'shared/project_list' %>

<h4>
  <div class="new_item button_actions"><%= link_to("New project",new_project_path) %></div>
  <div class="all_items button_actions"><%= link_to("All projects",projects_path) %></div>
</h4>
