<h1>Last 10 projects</h1>
<ul>
<% @projects.each do |p| %>
<!-- You don't need to use <a> -->
  <li><%=link_to(p.full_name,project_entries_path(p))%></li>
<%end%>
</ul>

<h4>
  <div class="new_item button_actions"><%= link_to("New project",new_project_path) %></div>
  <div class="all_items button_actions"><%= link_to("All projects",projects_path) %></div>
</h4>
